apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./secret.sops.yaml
  - ./config-pvc.yaml
  - ./deployment.yaml
configMapGenerator:
  - name: kometa-libraries
    files:
      - config/trakt_movies.yml
      - config/trakt_tv.yml
  - name: kometa-config
    files:
      - config/config.yml
generatorOptions:
  disableNameSuffixHash: true
