libraries:
  Movies:
    collection_files:
      - file: config/libraries/trakt_movies.yml
  TV Shows:
    collection_files:
      - file: config/libraries/trakt_tv.yml

schedule:
  run_times_every: 60  # Run every 60 minutes

settings:
  cache: true
  cache_expiration: 60
  asset_directory: config/assets
  asset_folders: true
  asset_depth: 0
  create_asset_folders: true
  prioritize_assets: false
  dimensional_asset_rename: false
  download_url_assets: false
  show_missing_season_assets: false
  show_missing_episode_assets: false
  show_asset_not_needed: true
  sync_mode: sync
  minimum_items: 1
  default_collection_order: alpha
  delete_below_minimum: false
  delete_not_scheduled: false
  run_again_delay: 2
  missing_only_released: false
  only_filter_missing: false
  show_unmanaged: true
  show_unconfigured: true
  show_filtered: false
  show_options: false
  show_missing: true
  save_report: false
  tvdb_language: eng
  ignore_ids:
  ignore_imdb_ids:
  playlist_sync_to_users: all
  verify_ssl: true
  check_nightly: false

plex:
  url: http://10.0.0.140:32400
  token: PLEX_TOKEN
  timeout: 60
  clean_bundles: false
  empty_trash: false
  optimize: false

tmdb:
  apikey: TMDB_API_KEY
  language: en
  cache_expiration: 60
  region:

radarr:
  url: http://radarr.default.svc.cluster.local:7878
  token: RADARR_API_KEY
  root_folder_path: /mnt/movies/media
  monitor: true
  availability: released
  quality_profile: "HD Bluray + WEB"
  search: true
  radarr_path: /mnt/movies/media
  plex_path: /media/movies

sonarr:
  url: http://sonarr.default.svc.cluster.local:8989
  token: SONARR_API_KEY
  root_folder_path: /mnt/tv_shows/media
  monitor: all
  quality_profile: "WEB-1080p"
  series_type: standard
  season_folder: true
  search: true
  sonarr_path: /mnt/tv_shows/media
  plex_path: /media/tv_shows

trakt:
  client_id: TRAKT_CLIENT_ID
  client_secret: TRAKT_CLIENT_SECRET
  force_refresh: false
  authorization:
    access_token: TRAKT_ACCESS_TOKEN
    token_type: Bearer
    expires_in: 7776000
    refresh_token: TRAKT_REFRESH_TOKEN
    scope: public
    created_at: TRAKT_CREATED_AT

notifiarr:
  apikey: NOTIFIARR_API_KEY
